button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}

#todo-form {
    display: flex;
    margin-bottom: 20px;
}

#todo-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
}
span {
    display: flex;
    justify-content: space-between;
}
.delete-btn {
    background-color: #f44336;
}
.delete-btn:hover {
    background-color: #d32f2f;
}
.completed {
    text-decoration: line-through;
    color: #888;
}
